* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

.active {
    color: #ffc107 !important;
    text-decoration: underline;
    background-color: #fff !important;
}

a {
    text-decoration: none;
}

strong {
    color: #ffc107;
    text-decoration: underline;
}

.overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(39, 46, 69, 0.6);
}

.disable-scroll {
    overflow: hidden;
}

.btn {
    font-weight: 700;
}

.btn-warning {
    color: #272e45;
}

.section_gap {
    padding: 50px 0;
}

.section_gap strong {
    font-weight: bold;
}

.section_gap h2 {
    font-size: 30px;
    font-weight: bold;
    color: #272e45;
}

.section_gap p {
    font-size: 18px;
    text-align: justify;
    color: #272e45;
}

.image_container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.image_container img {
    width: 100%;
    border-radius: 10px;
}

.section_header {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 40vh;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.section_header h2,
.section_header p {
    position: relative;
    color: #ffc107;
}

.section_header h2 {
    font-size: 30px;
    font-weight: bold;
}

.section_header p {
    font-weight: 500;
}

@media (min-width: 991.99px) {
    .section_gap {
        padding: 100px 0;
    }
}

.pagination {
    align-items: center;
    justify-content: center;
}
